# Entorno virtual
venv/
env/

# Archivos compilados de Python
__pycache__/
*.pyc

# Base de datos
db.sqlite3

# Archivos de migración
*/migrations/*
!*/migrations/__init__.py

# Archivos estáticos y media
staticfiles/
media/
