# Django y librerías web
Django>=5.1,<6
djangorestframework>=3.16,<4
django-cors-headers>=4.7,<5

# Gunicorn para el servidor en Render
gunicorn

# Variables de entorno
python-dotenv>=1.2,<2

whitenoise
