# Django y librerías web
Django>=5.1,<6
djangorestframework>=3.16,<4
django-cors-headers>=4.7,<5

# Gunicorn para el servidor en Render
gunicorn

# Otras dependencias útiles si las usas en tu app
python-dotenv>=1.2,<2


