{% extends 'base.html' %}
{% block title %}Contacto - TEBAEV{% endblock %}

{% block content %}

<h2>Contacto</h2>

{% if exito %}
<div class="alert alert-success">
    ¡Tu mensaje ha sido enviado correctamente!
</div>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <input class="form-control mb-3" name="nombre" placeholder="Tu nombre" required>
    <input class="form-control mb-3" name="email" placeholder="Tu email" required>
    <textarea class="form-control mb-3" name="mensaje" placeholder="Mensaje" required></textarea>

    <button class="btn btn-primary">Enviar</button>
</form>

{% endblock %}
